@font-face {
    font-family: "vga";
    src: url("fonts/Px437_ACM_VGA_8x16.ttf") format("woff");
}

:root {
    --gradient-colors: repeating-linear-gradient(90deg, indigo, rebeccapurple, orchid, hotpink, orchid, rebeccapurple, indigo);
}

.colored-title {
    font-family: "vga", monospace;
    font-size: 16px;
    text-align: left;
    white-space: pre;
    background-image: var(--gradient-colors);
    background-size: 1000%;
    -webkit-background-clip: text;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    filter: contrast(100.00001%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colors 3s linear infinite;
}

@keyframes colors { 
    0% {
        background-position: 200% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.topbar {
    font-size: 16px;
    font-family: "vga", monospace;
    text-align: left;
    white-space: pre;
    background-image: var(--gradient-colors);
    background-size: 1000%;
    -webkit-background-clip: text;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    filter: contrast(100.00001%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colors 10s linear infinite;
    width: 100%;
}

.baka {
    font-family: "vga", monospace;
    white-space: pre;
    text-align: left;
    font-size: 16px;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    line-height: 0.62;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    filter: contrast(100.00001%);
}

anim::before {
    content: "";
    font-size: 16px;
    font-family: "vga", monospace;
    animation: animm infinite 1s;
    color: white;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    filter: contrast(100.00001%);
}

@keyframes animm {
    0%{content:"c"}
    25%{content:"cj"}
    50%{content:"cju"}
    75%{content:"cjuj"}
    100%{content:""}
}

.pages {
    font-family: "vga", monospace;
    color: white;
    font-size: 32px;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    filter: contrast(100.00001%);
}

.pages:hover {
    font-family: "vga", monospace;
    font-size: 32px;
    text-align: left;
    white-space: pre;
    background-image: repeating-linear-gradient(90deg, orchid, hotpink, orchid);
    background-size: 1000%;
    -webkit-background-clip: text;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    filter: contrast(100.00001%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colors 3s linear infinite;
}

.plain {
    font-family: "vga", monospace;
    font-size: 32px;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    filter: contrast(100.00001%);

}

.jitter {
    font-family: "vga", monospace;
    font-size: 32px;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    filter: contrast(100.00001%);
}

.jitter span {
    display: inline-block;
    animation: jittery 0.5s linear infinite;
}

@keyframes jittery {
	10% {
		transform: translate(0px, 0px);
	}
	20% {
		transform: translate(1px, 1px);
	}
	30% {
		transform: translate(1px, 0px);
	}
	40% {
		transform: translate(0px, -1px);
	}
	50% {
		transform: translate(-1px, 0px);
	}
	60% {
		transform: translate(-1px, 1px);
	}
	70% {
		transform: translate(0px, 0px);
	}
	80% {
		transform: translate(1px, -1px);
	}
	90% {
		transform: translate(0px, 1px);
	}
	100% {
		transform: translate(-1px, 0px);
	}			
}

.jitter span:nth-child(1) { --i: 1; animation-delay: calc(0s * var(--i)); }
.jitter span:nth-child(2) { --i: 2; animation-delay: calc(0.02s * var(--i)); }
.jitter span:nth-child(3) { --i: 3; animation-delay: calc(0.03s * var(--i)); }
.jitter span:nth-child(4) { --i: 4; animation-delay: calc(0.04s * var(--i)); }
.jitter span:nth-child(5) { --i: 5; animation-delay: calc(0.05s * var(--i)); }
.jitter span:nth-child(6) { --i: 6; animation-delay: calc(0.06s * var(--i)); }
.jitter span:nth-child(7) { --i: 7; animation-delay: calc(0.07s * var(--i)); }
.jitter span:nth-child(8) { --i: 8; animation-delay: calc(0.07s * var(--i)); }
.jitter span:nth-child(9) { --i: 9; animation-delay: calc(0.07s * var(--i)); }
.jitter span:nth-child(10) { --i: 10; animation-delay: calc(0.07s * var(--i)); }
.jitter span:nth-child(11) { --i: 11; animation-delay: calc(0.07s * var(--i)); }